# Node Modules
node_modules
client/**/node_modules
server/node_modules

# Environment Files
.env
client/.env
server/.env

# Build
dist
build
client/**/dist

# Logs
*.log

# VS Code
.vscode

# OS
.DS_Store
Thumbs.db

# Uploads
server/uploads